h1 {
    color: red;
    font-size: 100px; 
}

img {
    width: 200px;
}

img:hover {
    width: 300px;
    background-color: gold;
}

 /* CLASS */

.bacon {
    background-color: green;
}

.brocolis {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

/* ID */

#heading {
    color: blue;
}

